<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @link.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @link.description %>
</p>

<p>
  <strong>Original:</strong>
  <%= @link.original %>
</p>

<p>
  <strong>Short:</strong>
  <%= @link.short %>
</p>

<p>
  <strong>Active:</strong>
  <%= @link.active %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
